[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:k4ttitude/nvim.git
[submodule "opencode/.config/opencode"]
	path = opencode/.config/opencode
	url = git@github.com:k4ttitude/opencode.git
